<div class="card" >
    <br/>
    <div class="card-body">
        <br/>
      <p class="card-text">Hello, my name is Bhagya Patel. I am an enthusiastic Computer Science Engineering student with a strong foundation in programming languages like Java and Python. I have hands-on experience in web development technologies such as React.js to build real-time applications. My background in machine learning includes developing predictive models using frameworks like scikit-learn and TensorFlow. Additionally, I have solved over 500 problems on LeetCode. I also secured an All India Rank of 553 in the National Level Science Talent Search Examination.</p>
    </div>
  </div>